<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Teste</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<th:block layout:fragment="form">

    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" th:field="*{username}" />
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" th:field="*{password}" />
    </div>

    <div class="form-group">
        <label for="role">Role</label>
        <select class="form-control" th:field="*{role}">
            <option th:each="role : ${roles}" th:value="${role}" th:text="${role}"></option>
        </select>
    </div>

</th:block>

</body>
</html>
