<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="Layout">
<head>
    <title>Teste</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<th:block layout:fragment="content">

    <h2>Alter Survey</h2>

    <form action="#" th:action="@{/surveys/${survey.id}}" th:object="${survey}" method="put">

        <th:block layout:include="surveys/_form :: form"/>

        <button type="submit" class="btn btn-default">Update Survey</button>
    </form>

</th:block>

</body>
</html>
