<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Teste</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<th:block layout:fragment="content">

    <table class="table table-striped">
        <caption>List of Surveys</caption>
        <thead>
        <tr>
            <th>ID</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="survey : ${surveys}">
            <td th:text="${survey.id}"></td>
            <td th:text="${survey.description}"></td>
        </tr>
        </tbody>
    </table>

</th:block>

</body>
</html>
